<ion-header-bar id="headerborder" class="headerborder" >
	
	
	 <div class="home-head2 " ng-click="goback();">
		<!-- <img src="img/back_icon.svg" > -->
		<i ng-click="goback();" class="ion ion-arrow-left-c back-icon"></i>
    </div>
    <div class="home-head2 ">
		<p class="headertitle">Disbursement Activity</p>
	</div>
		
</ion-header-bar>

<ion-view hide-nav-bar="false" >
   <style>
    
     .div{
      text-align: center;
      padding: 25px;
    }
  </style>
  <ion-content scroll="false" class="bgnew">
      
  
     <div class="div newTop"> 
		<a href="#/scheduleddisbursement">
			<img src="img/home/Disbursements.svg" style="height: 100px; width: 100px;">
			<p class="home-head">Scheduled Disbursement</p>
		</a>
     </div>
     <div class="div">
		<a href="#/recentdisburse">
			<img src="img/home/Last5contributions.svg" style="height: 100px; width: 100px;">
			<p class="home-head">Last 5 Disbursement </p>
		</a>
     </div>
  </ion-content>
</ion-view>
<!-- <ion-footer-bar  class="footerborder" >
 
        <p class="footertext">&copy; 2016 Sterling Administration. All Rights Reserved.</p>
  
 </ion-footer-bar> -->