
	<ion-content hide-nav-bar="true" on-swipe-right="goBack()" on-swipe-left="goforward()" class="bgnew tab-Content" >
		<div class="padding" >
			<div class="list">
				<a class="item menu-height shadow item-avatar" href="#cobraaccount">
					<img src="img/home/us.svg" style="margin-top:32px;">
					<div class="home-head menu-head">Account Information</div>
					<hr>
					<span class="readMore1"> 
						View Account <i class="ion-chevron-right"></i>
					</span>	
				</a>
				
				
				
				
			</div>
		
			<!--
			This bellow coding used for shwoing all the content 
			-->
			
		
			
			<!--  -->
			
		</div>
	
	
 
  </ion-content>
  	<!-- <ion-footer-bar class="footerborder">
 			<p class="footertext">&copy; 2016 Sterling Administration. All Rights Reserved.</p>
			
			</ion-footer-bar> 
 -->